data
data/*
./data
./data/*
__pycache__
__pycache__/*
./__pycache__
./__pycache__/*
HPTAD
HPTAD/*
./HPTAD
./HPTAD/*
*.log
./*.log
*.png
./*.png
*.jpg
*.csv
*.xlsx
./*/*.jpg
./*/*.csv
./*/*.xlsx
./__pycache__/*.py
csv
xlsx
jpg
png
./analysis/.*txt