data
data/*
./data
./data/*
__pycache__
__pycache__/*
./__pycache__
./__pycache__/*
HPTAD
HPTAD/*
./HPTAD
./HPTAD/*
*.log
./*.log
*.png
./*.png
*.jpg
./*/*.jpg
./__pycache__/*.py
jpg
!./test/test_heatmap.png
run_on_gpu.sh
run_on_cpu.sh
test.sh
*.bed
*.bedgraph
*.bw
*.bigwig
*.h5
*.cool
*.hic
*.txt
./test/*
*.png
*.log